-- CreateTable
CREATE TABLE "Borrower" (
    "id" SERIAL NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "city" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "phone2" TEXT,
    "address" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "idNumber" TEXT NOT NULL,
    "notes" TEXT,
    "bankCode" TEXT,
    "branchNumber" TEXT,
    "accountNumber" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Borrower_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Guarantor" (
    "id" SERIAL NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "idNumber" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "email" TEXT,
    "address" TEXT,
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "blacklistReason" TEXT,
    "blacklistDate" TIMESTAMP(3),
    "blacklistBy" TEXT,
    "bankCode" TEXT,
    "branchNumber" TEXT,
    "accountNumber" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Guarantor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Loan" (
    "id" SERIAL NOT NULL,
    "borrowerId" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "loanDate" TIMESTAMP(3) NOT NULL,
    "returnDate" TIMESTAMP(3) NOT NULL,
    "createdDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "loanType" TEXT NOT NULL,
    "guarantor1Id" INTEGER,
    "guarantor2Id" INTEGER,
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "recurringDay" INTEGER,
    "recurringMonths" INTEGER,
    "autoPayment" BOOLEAN NOT NULL DEFAULT false,
    "autoPaymentAmount" DOUBLE PRECISION,
    "autoPaymentDay" INTEGER,
    "autoPaymentStartDate" TIMESTAMP(3),
    "autoPaymentFrequency" INTEGER,
    "loanPaymentMethod" TEXT,
    "loanPaymentDetails" JSONB,
    "paymentDetailsComplete" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "reminderSent" TIMESTAMP(3),
    "transferredToGuarantors" BOOLEAN NOT NULL DEFAULT false,
    "transferDate" TIMESTAMP(3),
    "transferredBy" TEXT,
    "transferNotes" TEXT,

    CONSTRAINT "Loan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Payment" (
    "id" SERIAL NOT NULL,
    "loanId" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "type" TEXT NOT NULL,
    "paymentMethod" TEXT,
    "paymentDetails" JSONB,
    "paymentDetailsComplete" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,
    "paidBy" TEXT,
    "guarantorId" INTEGER,
    "guarantorName" TEXT,

    CONSTRAINT "Payment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Depositor" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "idNumber" TEXT,
    "phone" TEXT NOT NULL,
    "notes" TEXT,
    "bankCode" TEXT,
    "branchNumber" TEXT,
    "accountNumber" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Depositor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Deposit" (
    "id" SERIAL NOT NULL,
    "depositorId" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "depositDate" TIMESTAMP(3) NOT NULL,
    "depositPeriod" INTEGER NOT NULL,
    "reminderDays" INTEGER,
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "depositPaymentMethod" TEXT,
    "depositPaymentDetails" JSONB,
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "recurringDay" INTEGER,
    "recurringMonths" INTEGER,
    "recurringEndDate" TIMESTAMP(3),
    "lastRecurringDate" TIMESTAMP(3),

    CONSTRAINT "Deposit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Withdrawal" (
    "id" SERIAL NOT NULL,
    "depositId" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "paymentMethod" TEXT,
    "paymentDetails" JSONB,
    "paymentDetailsComplete" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,

    CONSTRAINT "Withdrawal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Donation" (
    "id" SERIAL NOT NULL,
    "donorName" TEXT NOT NULL,
    "donorLastName" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "donationDate" TIMESTAMP(3) NOT NULL,
    "method" TEXT NOT NULL,
    "paymentDetails" JSONB,
    "phone" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "notes" TEXT,
    "needsReceipt" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Donation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GuarantorDebt" (
    "id" SERIAL NOT NULL,
    "originalLoanId" INTEGER NOT NULL,
    "guarantorId" INTEGER NOT NULL,
    "originalBorrowerId" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "transferDate" TIMESTAMP(3) NOT NULL,
    "transferredBy" TEXT NOT NULL,
    "paymentType" TEXT NOT NULL,
    "installmentsCount" INTEGER,
    "installmentAmount" DOUBLE PRECISION,
    "installmentDates" JSONB,
    "status" TEXT NOT NULL DEFAULT 'active',
    "notes" TEXT,

    CONSTRAINT "GuarantorDebt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Expense" (
    "id" SERIAL NOT NULL,
    "type" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "description" TEXT NOT NULL,
    "paidBy" TEXT NOT NULL,
    "borrowerId" INTEGER,
    "borrowerName" TEXT,
    "donorName" TEXT,
    "loanId" INTEGER,
    "paymentMethod" TEXT,
    "receiptNumber" TEXT,
    "notes" TEXT,

    CONSTRAINT "Expense_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "email" TEXT,
    "role" TEXT NOT NULL DEFAULT 'user',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastLogin" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Settings" (
    "id" SERIAL NOT NULL,
    "gemachName" TEXT NOT NULL,
    "gemachLogo" TEXT,
    "currency" TEXT NOT NULL DEFAULT 'ILS',
    "currencySymbol" TEXT NOT NULL DEFAULT 'Γג¬',
    "headerTitle" TEXT NOT NULL,
    "footerText" TEXT NOT NULL,
    "contactText" TEXT NOT NULL,
    "enableRecurringLoans" BOOLEAN NOT NULL DEFAULT true,
    "enableRecurringPayments" BOOLEAN NOT NULL DEFAULT true,
    "requireIdNumber" BOOLEAN NOT NULL DEFAULT false,
    "showHebrewDates" BOOLEAN NOT NULL DEFAULT false,
    "showDateWarnings" BOOLEAN NOT NULL DEFAULT true,
    "trackPaymentMethods" BOOLEAN NOT NULL DEFAULT true,
    "enableMasav" BOOLEAN NOT NULL DEFAULT false,
    "enableCommission" BOOLEAN NOT NULL DEFAULT false,
    "commissionType" TEXT NOT NULL DEFAULT 'percentage',
    "commissionValue" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "appPassword" TEXT,
    "passwordHint" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Settings_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Borrower_idNumber_key" ON "Borrower"("idNumber");

-- CreateIndex
CREATE INDEX "Borrower_idNumber_idx" ON "Borrower"("idNumber");

-- CreateIndex
CREATE INDEX "Borrower_firstName_lastName_idx" ON "Borrower"("firstName", "lastName");

-- CreateIndex
CREATE UNIQUE INDEX "Guarantor_idNumber_key" ON "Guarantor"("idNumber");

-- CreateIndex
CREATE INDEX "Guarantor_idNumber_idx" ON "Guarantor"("idNumber");

-- CreateIndex
CREATE INDEX "Guarantor_status_idx" ON "Guarantor"("status");

-- CreateIndex
CREATE INDEX "Loan_borrowerId_idx" ON "Loan"("borrowerId");

-- CreateIndex
CREATE INDEX "Loan_status_idx" ON "Loan"("status");

-- CreateIndex
CREATE INDEX "Loan_returnDate_idx" ON "Loan"("returnDate");

-- CreateIndex
CREATE INDEX "Payment_loanId_idx" ON "Payment"("loanId");

-- CreateIndex
CREATE INDEX "Payment_date_idx" ON "Payment"("date");

-- CreateIndex
CREATE INDEX "Depositor_idNumber_idx" ON "Depositor"("idNumber");

-- CreateIndex
CREATE INDEX "Deposit_depositorId_idx" ON "Deposit"("depositorId");

-- CreateIndex
CREATE INDEX "Deposit_status_idx" ON "Deposit"("status");

-- CreateIndex
CREATE INDEX "Deposit_depositDate_idx" ON "Deposit"("depositDate");

-- CreateIndex
CREATE INDEX "Withdrawal_depositId_idx" ON "Withdrawal"("depositId");

-- CreateIndex
CREATE INDEX "Withdrawal_date_idx" ON "Withdrawal"("date");

-- CreateIndex
CREATE INDEX "Donation_donationDate_idx" ON "Donation"("donationDate");

-- CreateIndex
CREATE INDEX "GuarantorDebt_guarantorId_idx" ON "GuarantorDebt"("guarantorId");

-- CreateIndex
CREATE INDEX "GuarantorDebt_status_idx" ON "GuarantorDebt"("status");

-- CreateIndex
CREATE INDEX "Expense_date_idx" ON "Expense"("date");

-- CreateIndex
CREATE INDEX "Expense_type_idx" ON "Expense"("type");

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE INDEX "User_username_idx" ON "User"("username");

-- CreateIndex
CREATE INDEX "User_role_idx" ON "User"("role");

-- AddForeignKey
ALTER TABLE "Loan" ADD CONSTRAINT "Loan_borrowerId_fkey" FOREIGN KEY ("borrowerId") REFERENCES "Borrower"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Loan" ADD CONSTRAINT "Loan_guarantor1Id_fkey" FOREIGN KEY ("guarantor1Id") REFERENCES "Guarantor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Loan" ADD CONSTRAINT "Loan_guarantor2Id_fkey" FOREIGN KEY ("guarantor2Id") REFERENCES "Guarantor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_loanId_fkey" FOREIGN KEY ("loanId") REFERENCES "Loan"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Deposit" ADD CONSTRAINT "Deposit_depositorId_fkey" FOREIGN KEY ("depositorId") REFERENCES "Depositor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Withdrawal" ADD CONSTRAINT "Withdrawal_depositId_fkey" FOREIGN KEY ("depositId") REFERENCES "Deposit"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuarantorDebt" ADD CONSTRAINT "GuarantorDebt_guarantorId_fkey" FOREIGN KEY ("guarantorId") REFERENCES "Guarantor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

